

<!-- <nav class="navbar navbar-expand-lg navbar-dark ">
  <a  href="home" class="navbar-brand" ><img href="" src="assets\images\asd.png" alt="logo" width="200"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
          <a  class="btn btn-primary tooltips"  style="color: rgb(255, 255, 255);" (click)="onOpenModel($event,null, 'add')">Add Rule  <span class="sr-only">(current)</span></a>
       </li>
    </ul>

 </div> 
</nav> -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css"> 
  </head>
  <body>
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  <label class="logo">DGBank</label>
  
  <ul>
    <li>
      <a routerLink="/home">
        <i class="fa fa-home" style="color: white; "></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info" style="color: white; "></i>
      </a>
    </li>
    <li><a routerLink="/services/withdraw">Withdraw</a></li>
    <li><a routerLink="/services/deposite">Deposite</a></li>
    <li><a routerLink="/services/transfer">Transfer</a></li>
  </ul>
</nav>
<div class="main-container">
  <section class="first-section">
    <div class="buttons-container">
      <div class="btn-circle-container">
        <button type="button" class="btn btn-circle" (click)="onOpenModel($event , null , 'add')">
          <span class="btn-label">Create<br>A<br>Scenario</span>
        </button>
        
        <button type="button" class="btn btn-circle" (click)="scrollToMainContainer()">
          <span class="btn-label">Show<br>Scenarios</span>
        </button>

        <button type="button" class="btn btn-circle" (click)="applyRules()">
          <span class="btn-label">Apply<br>Scenarios</span>
        </button>
      </div>
  </div>
  </section>

<section class="second-section"  id="table-container">
 
    
      <table class="table table-bordered table-hover table-striped">
        <thead style="background-color: gray;">
          <tr>
            <th>Rule Number</th>
            <th>Based on</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rule of rules" style="color: white; font-size: 20px;">
            <td class="text-center">{{ rule?.id }}</td>
            <td class="text-center">{{ rule?.ruleType }}</td>
            <td class="text-center">IF the {{rule?.aggregation}} on (Amount) of the {{rule?.transactionType}} {{rule?.operation}} {{rule?.amount}} </td>
            
            <td class="text-center">
              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onOpenModel($event, rule, 'edit')">
                <i class="fa fa-pencil"></i>
              </a>
              &nbsp;&nbsp; 
              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onOpenModel($event, rule, 'delete')">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    
</section>

</div>









<div class="modal fade" id="AddRuleModel" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEmployeeModalLabel">Add Rule</h1>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRule(addForm)">
            <!-- Your existing code for selecting rule properties -->
            <div class="form-group mb-3">
              <label for="transactionType">Transaction Type</label>
              <select ngModel name="transactionType" class="form-control" id="ruleType">
                <option value="Transfer">Transfer</option>
                <option value="Withdraw">Withdraw</option>
                <option value="Deposite">Deposite</option>
              </select>
            </div>
          <div class="form-group mb-3">
            <label for="ruleType">Based on</label>
            <select  ngModel name="ruleType" class="form-control" id="ruleType">
              <option value="Customer">Customer</option>
              <option value="Account">Account</option>
            </select>
         </div>
          <div class="form-group mb-3">
            <label for = "operation">Operation on Amount</label>
            <select  ngModel name="operation" class="form-control" id="operation">
              <option value="Greater">Greater than</option>
              <option value="Less">Less than</option>
              <option value="Equal">Equal to</option>
            </select>
          </div>
          <div class = "form-group mb-3">
            <label for = "aggregation" >Aggregation on Amount</label>
            <select  ngModel name="aggregation" class="form-control" id="aggregation">
              <option value="Sum">Sum</option>
              <option value="Avg">Average</option>
              <option value="Min">Min</option>
              <option value="Max">Max</option>
              <option value="Count">Count</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="amount">Amount:</label>
            <input type="text"  ngModel name="amount" class="form-control" id="amount" />
          </div>
          <div class = "form-group mb-3">
            <label for="date">Date:</label>
            <input type="date"  ngModel name="date" class="form-control" id="date" />
          </div>
          <div class="modal-footer">
            <button type="button"class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" id="add-employee-form" type="submit" class="btn btn-primary" >Save changes</button>
         </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- EditEmployeeModel -->
<div class="modal fade" id="EditruleModel" tabindex="-1" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="employeeEditModalLabel">Edit Rule</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form #editForm="ngForm" >
        <div class="form-group">
          <label for="transactionType">Transaction Type</label>
          <select ngModel="{{Editrule?.transactionType}}" name="transactionType" class="form-control" id="ruleType">
            <option value="Transfer">Transfer</option>
            <option value="Withdraw">Withdraw</option>
            <option value="Deposite">Deposite</option>
          </select>
       </div>
       <div class="form-group">
        <label for="ruleType">Based on</label>
        <select   ngModel="{{Editrule?.ruleType}}" name="ruleType" class="form-control" id="ruleType">
          <option value="Customer">Customer</option>
          <option value="Account">Account</option>
        </select>
     </div>
       <input type="hidden" ngModel="{{Editrule?.id}}" name="id" class="form-control" id="id" placeholder="Email">
       
       <div class="form-group">
          <label for="operation">Operation on Amount</label>
          <select   ngModel="{{Editrule?.operation}}" name="operation" class="form-control" id="operation">
            <option value="Greater">Greater than</option>
            <option value="Less">Less than</option>
            <option value="Equal">Equal to</option>
          </select>
       </div>
       <div class="form-group">
          <label for="aggregation">Aggregation on Amount</label>
          <select   ngModel="{{Editrule?.aggregation}}" name="aggregation" class="form-control" id="aggregation">
            <option value="Sum">Sum</option>
            <option value="Avg">Average</option>
            <option value="Min">Min</option>
            <option value="Max">Max</option>
            <option value="Count">Count</option>
          </select>
       </div>
       <div class="form-group">
          <label for="phone">Amount</label>
          <input type="text" ngModel="{{Editrule?.amount}}" name="amount" class="form-control" id="phone" placeholder="Address">
       </div>
       <div class="form-group">
          <label for="phone">Date</label>
          <input type="date" ngModel="{{Editrule?.date}}" name="date" class="form-control" id="imageUrl" placeholder="BD">
       </div>
       <div class="modal-footer">
          <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
          <button (click)="onUpdateRule(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
       </div>
      </form>
      </div>    
    </div>
  </div>
</div>

<!-- DeleteEmployeeModel -->
<div class="modal" id="DeleteruleModel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Rule</h5>
        <button type="button" class="close" data-dismiss="modal" #deleteModalCloseButton aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this rule {{ Editrule?.id}}?</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="confirmDeleteCheckbox" [(ngModel)]="confirmDelete">
          <label class="form-check-label" for="confirmDeleteCheckbox">I confirm that I want to delete this rule.</label>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="onDeleteEmloyee(Editrule.id)" type="button" class="btn btn-danger" id="deleteButton" [disabled]="!confirmDelete">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

</body>
