
<body>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css"> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images/OIP.jpeg" alt="Logo" class="logo">
                        <div class="buttons-container">
                            <div class="btn-circle-container">
                                <button type="button" class="btn btn-circle" (click)="navigateToTransfer()">
                                    <i class="fas fa-exchange-alt btn-icon"></i>
                                    <span class="btn-label">Transfer</span>
                                </button>
                                <button type="button" class="btn btn-circle" (click)="navigateToWithdraw()">
                                    <i class="fas fa-minus-circle btn-icon"></i>
                                    <span class="btn-label">Withdraw</span>
                                </button>
                                <button type="button" class="btn btn-circle" (click)="navigateToDeposite()">
                                    <i class="fas fa-plus-circle btn-icon"></i>
                                    <span class="btn-label">Deposit</span>
                                </button>
                                <button type="button" class="btn btn-circle" (click)="navigateTorule()">
                                    <i class="fas fa-check-square btn-icon"></i>
                                    <span class="btn-label">Rules</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>









