<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="font-weight-bold text-center" style="color: #37a4cc;">Transfer</h3>
                        <div class="row register-form">
                            <div class="mb-3">
                                <select [(ngModel)]="selectedAccountAId" [ngModelOptions]="{ standalone: true }" class="form-control"  (change)="onAccountChange('accountA')">
                                    <option value=0>Select an Account</option>
                                    <option *ngFor="let account of accounts$ | async" [value]="account.id">
                                        {{ account.id }} - {{ account.customerFirstName }} {{ account.customerLastName }}
                                    </option>
                                  </select>
                            </div>
                            <div class="mb-3">
                                <select [(ngModel)]="selectedAccountBId" [ngModelOptions]="{ standalone: true }" class="form-control" (change)="onAccountChange('accountB')">
                                    <option value=0>Select an Account</option>
                                    <option *ngFor="let account of accounts$ | async" [value]="account.id">
                                        {{ account.id }} - {{ account.customerFirstName }} {{ account.customerLastName }}
                                    </option>
                                  </select>
                            </div>
                            <div class="mb-3">
                                <input type="number" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Amount" />
                            </div>
                            <div class="flex align-items-center justify-content-center font-bold border-round-lg m-2">
                              <p-toast></p-toast>
                              <p-confirmDialog></p-confirmDialog>
                              <button  type="button" class="btn btn-primary"  (click)="confirm1($event)">Perform</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Display selected account information for accountA -->
      <div class="row mt-2">
        <!-- Display selected account information for accountA -->
        <div class="col-md-6" *ngIf="selectedAccountA">
          <div class="card">
            <div class="card-body">
              <h4 class="font-weight-bold text-center" style="color: black;">Selected Account Information ({{selectedAccountA.id}})</h4>
              <p>Account Holder's Name: {{ selectedAccountA.customerFirstName }} {{ selectedAccountA.customerLastName }}</p>
              <p>Account Balance: {{  balance  ?  balance : selectedAccountA.balance }}$</p>
            </div>
          </div>
        </div>
        
        <!-- Display selected account information for accountB -->
        <div class="col-md-6" *ngIf="selectedAccountB">
          <div class="card">
            <div class="card-body">
              <h4 class="font-weight-bold text-center" style="color: black;">Selected Account Information ({{selectedAccountB.id}})</h4>
              <p>Account Holder's Name: {{ selectedAccountB.customerFirstName }} {{ selectedAccountB.customerLastName }}</p>
              <p>Account Balance: {{  balance  ?  balance : selectedAccountB.balance }}$</p>
            </div>
          </div>
        </div>
      </div>
      
  
    </div>
</body>
</html>
