
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.0.0/font/bootstrap-icons.css" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->

<!-- Navbar-->
<header class="header">
    <nav class="navbar-login navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                <img src="https://th.bing.com/th/id/OIP.BbIghUosCU4eQTg2XjEJVwHaCy?w=324&h=132&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="logo" width="200">
            </a>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
           
            <img src="https://th.bing.com/th/id/OIP.qiRcT7WWNhX6MZ7JRSeRXQHaHa?pid=ImgDet&rs=1" alt="" class="img-fluid mb-3 d-none d-md-block" width="200">
            <h1>Welcome to <span class="blue-text">DGBank</span></h1>
            <!-- <h3>Create an Account</h3> -->
            <!-- <p class="font-italic text-muted mb-0">Create a minimal registeration page using Bootstrap 4 HTML form elements.</p>
            <p class="font-italic text-muted">Snippet By <a href="https://bootstrapious.com" class="text-muted">
                <u>Bootstrapious</u></a>
            </p> -->
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-7 ml-auto">
            <form action="#">
                <div class="row">

                    <!-- User Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="username" type="text" [(ngModel)]= "employee.username"  [ngModelOptions]= "{standalone: true}" name="username" placeholder="User Name" class="form-control bg-white border-left-0 border-md">
                       
                    </div>

                    <!--Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                   
                            <input id="name" type="text" [(ngModel)]= "employee.name"  [ngModelOptions]= "{standalone: true}" name="name" placeholder="Name" class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Email -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" type="email" [(ngModel)]= "employee.email"  [ngModelOptions]= "{standalone: true}" name="email" placeholder="Email" class="form-control bg-white border-left-0 border-md" >
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>     
                        <input id="phone" type="tel" [(ngModel)]= "phoneNumber" [ngModelOptions]= "{ standalone: true }" minlength="11" maxlength="11" name="phone" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3" (input)="validatePhoneNumber(phoneNumber)" >
                        <div *ngIf="!isPhoneValid" class="text-danger validation-message ">
                            Please enter a valid phone number (numeric digits only).
                          </div>
                    </div>.


                    <!-- Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-map-marker text-muted"></i>
                            </span>
                        </div>
                        <input id="address" type="address" [(ngModel)]= "employee.address"  [ngModelOptions]= "{standalone: true}"  name="address" placeholder="Address" class="form-control bg-white border-left-0 border-md" >
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" [(ngModel)]= "employee.password"  [ngModelOptions]= "{standalone: true}" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md" >
                    </div>

                  

                    <!-- Submit Button -->
                    <div class="form-group col-lg-4 mx-auto mb-0">
                        <button type="button" class="btn btn-primary btn-block py-2" [disabled]="isAnyInputEmpty()" (click)="saveEmployee()">
                            <span class="font-weight-bold">Create your account</span>
                          </button>
                          
                    </div>
                    

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    

                    <!-- Already Registered -->
                    <div class="text-center w-100 " >
                        <p class="text-muted font-weight-bold">Already Registered? <a href="#" class="text-primary ml-2" routerLink="/login" >Login</a></p>
                    </div>
        
                </div>
            </form>
        </div>
    </div>
</div>
