<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="font-weight-bold text-center" style="color: #37a4cc;">Deposit</h3>
                        <div class=" register-form">
                          <div class="mb-3">  
                            <div class=" flex justify-content-center mb-4">
                              <p-autoComplete  [(ngModel)]="selectedAccountId" [suggestions]="suggestions" placeholder="Enter Account INFO" (completeMethod)="search($event)" (onSelect)="selectAccountFromSearch($event.value)"></p-autoComplete>
                            </div>   
                           
                            <select [(ngModel)]="selectedAccountId" [ngModelOptions]="{ standalone: true }" class="form-control"  (change)="onAccountChange()">
                              <option value=0>Select an Account</option>
                              <option *ngFor="let account of accounts" [value]="account.id">
                                {{ account.id }} - {{ account.customerFirstName }} {{ account.customerLastName }}
                              </option>
                            </select>
                          </div>
                            <div class="mb-5">
                                <input type="number" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Amount" />
                            </div>
                            <div class="flex align-items-center justify-content-center ">
                              <button type="button" class="btn btn-primary" (click)="DialogConfirm()" >Perform</button>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Display selected account information and result -->
      <div class="row justify-content-center" *ngIf="selectedAccount">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="font-weight-bold text-center" style="color: black;">Selected Account Information</h4>
              <p>Account Holder's Name:<strong> {{ selectedAccount.customerFirstName }} {{selectedAccount.customerLastName}}</strong></p>
              <p>Account Balance: <strong>{{ balance  ?  balance : selectedAccount.balance  }}$</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

